body {
	padding: 1%;
	background-color: white;
} 
.section-filler {
	background-color: blue;
}

.padding-tr {
	height: 3em;
}
.skill-padding {
	height: 2em;
}
.entry-padding {
	height: 1em;
}
.section-title {
	color: blue;
	font-weight: bold;
	font-size: 1.4em;
}
.skill-title {
	color: blue;
	font-size: 1.2em;
}
.skill-name {
	font-style: italic
}
.cv-name {
	font-weight: bold;
	font-size: 2.5em;
}
.cv-title {
	font-style: italic;
	font-size: 2em;
}
.cv-coord {
	font-style: italic;
	color: blue;
}
.header-menu {
	background-color: lightgray;
	/* Border-width: 1px; */
	/* border-style: solid; */
	border-collapse: collapse;
}
.header-cell{
	background-color: lightgray;
	border-width: 1px;
	border-style: solid;
}
